.container3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.heading3 span {
    color: #986DEA;
    background-image: -webkit-linear-gradient(90deg, #986DEA 0%, #EA69BD 80%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   
}

.heading3{
    font-size: 2.5em;
    font-weight: 700;
 
 }
.alumi_intro {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap */
    justify-content: space-between;
    margin-top: 20px; /* Add some margin */
}

.intro1 {
    display: flex;
    flex-direction: column;
    background-color: #221D32;
    padding: 5px;
    width: 270px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    height: 250px;
    margin-bottom: 20px; /* Add margin between items */
    margin-left: 40px;
}

.intro1_2 {
    color: white;
}

.p3_2 {
    color: #bcb9b9;
    text-align: center;
}

.p3_1 {
    font-size: 1.2em;
    font-weight: 700;
    text-align: center;
}

.intro1_1 {
    margin-top: 15px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    width: 100%; /* Ensure full width */
    margin-top: 20px; /* Add margin */
}

.navigation button {
    background-color: #986DEA;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 1.2em;
    cursor: pointer;
    margin-top: -200px;
}

.navigation button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

/* Media Query for Mobile View */
@media screen and (max-width: 767px) {
    .alumi_intro {
        flex-direction: row; /* Display items in a row */
        flex-wrap: wrap; /* Allow items to wrap */
        justify-content: center; /* Center items horizontally */
    }
    .heading3{
        text-align: center;
        font-size: 1.8em;
    }

    .intro1 {
        width: calc(40% - 14px); /* Adjust width for two items in one line */
        max-width: 260px; /* Set maximum width */
        margin: 20px; /* Add margin between items */
    }

    .navigation {
        display: flex;
        justify-content: space-between;
        width: 100%; /* Ensure full width */
        margin-top: 20px; /* Add margin */
    }

    .navigation button {
        background-color: #986DEA;
        color: white;
        border: none;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        font-size: 1.2em;
        cursor: pointer;
        margin-top: -340px; /* Adjust margin between buttons */
    }

    .navigation button:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

    .p3_1 {
        font-size: .9em;
        font-weight: 500;
    }
}
