.container9 {
    background: rgb(23,30,64);
    background: linear-gradient(0deg, rgba(23,30,64,1) 51%, rgba(21,82,139,1) 96%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5%;
    margin-top: 100px;
    position: relative;
    overflow: hidden;
}

.boxes9 {
    display: flex;
    flex-direction: column; /* Change to column layout for smaller screens */
    align-items: center; /* Center align for smaller screens */
    margin-left: 0; /* Adjust margin for smaller screens */
}

.box9_1, .box9_2 {
    background-color: #171421;
    margin-left: 0; /* Reset margin left for smaller screens */
    margin-bottom: 20px; /* Add margin bottom for smaller screens */
    height: 70px;
    width: 210px; /* Adjust width for smaller screens */
    border-radius: 10px;
}

.box9_1 p, .box9_2 p {
    color: aliceblue;
    font-size: 1em; /* Adjust font size for smaller screens */
    font-weight: 700;
    padding-bottom: 0px;
    padding: 5px;
}

.heading9 {
    color: aliceblue;
    font-size: 2em; /* Adjust font size for smaller screens */
    font-weight: 900;
    text-align: center; /* Center align text for smaller screens */
}

.img9 img {
    margin-top: 50px; /* Adjust margin top for smaller screens */
    height: 200px; /* Adjust image height for smaller screens */
    position: relative;
     /* Remove animation for smaller screens */
}
.img9 img.animate {
    animation: slideRight 25s linear infinite;
}
@keyframes slideRight {
    from { transform: translateX(-100%); }
    to { transform: translateX(100%); }
  }

@media screen and (min-width: 768px) {
    .boxes9 {
        flex-direction: row; /* Change to row layout for larger screens */
        align-items: flex-start; /* Align items to the start for larger screens */
        margin-left: 80px; /* Reset margin left for larger screens */
    }

    .box9_1, .box9_2 {
        
        /* Reset width for larger screens */
        margin-left: 50px; /* Adjust margin left for larger screens */
    }
    .box9_1 p, .box9_2 p{
        text-align: center;
    }
    

    .img9 img {
        margin-top: 100px; /* Reset margin top for larger screens */
        height: 250px;
        
        
    }
    .img9 img.animate {
        animation: slideRight 25s linear infinite;
    }
    @keyframes slideRight {
        from { transform: translateX(-100%); }
        to { transform: translateX(100%); }
      }
    
}
